{% extends "base.html" %}

{% block title %}项目列表{% endblock %}

{% block content %}
    <h2>项目列表</h2>

    {% for project in projects %}
        <div class="post">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <p>负责人: {{ project.manager.username }}</p>
            <p>开始日期: {{ project.start_date }}</p>
            <p>截止日期: {{ project.end_date }}</p>
            <a href="{% url 'post_list' project.id %}" class="button">查看文章</a>
            {% comment %} <a href="{% url 'update_project' project.id %}" class="button">更新项目</a> {% endcomment %}
            <form method="post" action="{% url 'delete_project' project.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="button" onclick="return confirm('确定要删除这个项目吗？');">删除项目</button>
            </form>
        </div>
    {% empty %}
        <p>没有找到任何项目。</p>
    {% endfor %}

    <div class="form-container">
        <h2>创建新项目</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action_type" value="create_project">
            <input type="text" name="title" placeholder="项目标题" required>
            <textarea name="description" placeholder="项目描述" required></textarea>
            <input type="date" name="start_date" value="{{ current_date }}" required>
            <input type="date" name="end_date" min="{{ current_date }}" placeholder="项目截止日期" required>
            <button type="submit" class="button">创建项目</button>
        </form>
    </div>

    <a href="{% url 'index' %}" class="button">回到首页</a>
{% endblock %}
